body{
    background-color: bisque;
    margin: 0;
    padding: 0;
}

.image {
    position: fixed;
    top: 70px;
    left: 50px;
}

.image img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1000;
}

.info{
    padding: 4%;
    height: 400px;
    position: fixed;
    top: 400px;
    left: 50px;
    background-color: #baaa9a;
    z-index: 999;
}